export DATABASE_URL=postgres://ogura:@localhost:5432/http_sample
export DB_NAME=http_sample
export DB_USER=ogura
export DB_PASSWORD=
export DB_HOST=localhost:5432
export SSL_MODE=disable
export DB_LOGMODE=false

